:root {
    --corPrimaria: #d7e6b6;
    --corSecundaria: rgb(245, 241, 227);
    --corTerciaria: #9c6644;
    text-size-adjust: 100%;

}
header {
    background-color: var(--corTerciaria);
    font-size:large;
}


.navbar-nav .nav-link {
    color: var(--corSecundaria);
}

.container-fluid img{
    width: 70px;
    height: auto;
    align-items: flex-start;
}


h1 {
    font-family: 'Quicksand', sans-serif;
}
h2{
    font-family: 'Quicksand', sans-serif;
}
h3{
    font-family: 'Quicksand', sans-serif;

}

header a{
    color: var(--corTerciaria);
}

footer {
    background-color: var(--corTerciaria);
    text-decoration-color: var(--corTerciaria);
    padding: 10px;
    
}
footer a{
    
    font-size: x-large;
    color: var(--corSecundaria);
    opacity: 100%;
}
